<template>
<div>
 <div class="main">
    <div class="container pt-4 mb-3">
      <div class="row mt-2">
        <div class="col-11 col-sm-11 col-md-11 col-lg-11">
             <button data-toggle="modal" data-target="#addModal" class="btn btn-outline-secondary btn-sm"  @click="$bvModal.show('addModal')">Add Books</button>  
           <input type="text" name="text" class="search" placeholder="Search">
          <div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Authur</th>
                    <th scope="col">Copies</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                <tr v-for="book in books" :key="book.id">
                      <td>{{ book.name }}</td>
                      <td>{{ book.author }}</td>
                      <td>{{ book.copies }}</td>
                      <td>{{ book.category }}</td>
                      <td>
                        <a type="button" v-on:click="showEditModal(book)">
                        <img src="@/assets/img/new.png" class="mr-2 cursor-pointer" height="25"/></a>
                        <a type="button" v-on:click="showDeleteModal(book.id)">
                        <img src="@/assets/img/delete.png" class="mr-2" height="16" /></a >
                        <a type="button" v-on:click="showBorrowModal(book.id)">
                        <img src="@/assets/img/up.png" class="cursor-pointer mr-2" height="16"/></a>
                        <a type="button" v-on:click="showReturnModal(book.id)">
                        <img src="@/assets/img/down.png" class="cursor-pointer" height="16" /></a>
                      </td>
                 </tr>
                </tbody>
              </table>
            </div>       
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Add Modal -->
  <b-modal id="addModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Book</h5>
        </div>
        <div class="modal-body pl-5 pr-5">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"  v-model="input.name" class="form-control" id="name" placeholder="">
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input type="text" v-model="input.author" class="form-control" id="author" placeholder="">
            </div>
            <div class="form-group">
              <label for="copies">Copies</label>
              <input v-model="input.copies" class="form-control" id="copies" placeholder="" type="text">
            </div>
            <div class="form-group">
              <label for="customSelect">Category</label>
              <select id="customSelect"  v-model="input.category_id" name="cars" class="custom-select">
                <option selected disabled>--Select Category--</option>
                <option :value="category.id" v-for="category in categories" :key="category.id">{{ category.category }} </option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-primary" v-on:click="saveBook">Add Book</button>
        </div>
      </div>
    </div>
  </b-modal>

   <!--- EDIT MODAL --->
   <b-modal id="editModal" centered title="Edit Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" v-model="editBook.name" class="form-control" id="name" placeholder="" />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" v-model="editBook.author" class="form-control" id="author" placeholder="" />
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input v-model="editBook.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select id="customSelect" v-model="editBook.category_id" name="cars" class="custom-select">
          <option selected disabled>--Select Category--</option>
                <option :value="category.id" v-for="category in categories" :key="category.id">{{ category.category }} </option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="success" v-on:click="updateBook">Update Book</b-button>
      </template>
    </b-modal>

   <!-- Delete Modal -->
   <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete this?</p>
      <template #modal-footer="{ cancel }">
        <b-button variant="info" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" v-on:click="deleteBook"> Confirm </b-button>
      </template>
    </b-modal>

    <b-modal id="borrowModal" centered title="Borrow Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="copies">Copies</label>
          <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="success" v-on:click.prevent="borrowBook">
          Borrow Book
        </b-button>
      </template>
    </b-modal>


    <b-modal id="returnModal" centered title="Return Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="copies">Copies</label>
          <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="patron in borowedPatrons" :key="patron.patron.id" :value="patron.patron.id">  {{patron.patron.first_name +" " +patron.patron.middle_name +" " +patron.patron.last_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="success" v-on:click.prevent="returnBook">
          Return Book
        </b-button>
      </template>
    </b-modal>


</div>
</template>

<script>
import {toast} from '@/assets/js/vue-toast'
export default {
    mixins: [toast],
  async mounted(){
    document.title = "Book Management"
    await this.$store.dispatch("fetchBooks");
    await this.$store.dispatch("fetchBorrowedBooks");
    await this.$store.dispatch("fetchCategories");
    await this.$store.dispatch("fetchPatrons");

  },

  data() {
    return {
      editBook: {},
      input: {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      },
      book_data: {
        book_id: "",
        copies: "",
        patron_id: ""
      },
      id: ""
    };
  },
  computed: {
    books() {
      return this.$store.getters.getBooks;
    },
    categories() {
      return this.$store.getters.getCategories;
    },
    patrons() {
      return this.$store.getters.getPatrons;
    },
    borowedPatrons() {
      let borrowed = this.$store.getters.getBorrowedBooks;
      return borrowed.filter((b) => {
        return b.book_id == this.book_data.book_id;
      });
    }
  },
  methods:{
    showAddModal() {
      this.clearFields();
      this.$bvModal.show("addModal");
    },
    showDeleteModal(i) {
      this.id = i;
      this.$bvModal.show("deleteModal");
    },
    showEditModal(book) {
      this.id = book.id;
      this.editBook = { ...book }
      this.$bvModal.show("editModal");
    },
    showBorrowModal(id) {
      this.book_data.book_id = id;
      this.$bvModal.show("borrowModal");
    },
    showReturnModal(id) {
      this.book_data.book_id = id;
      this.$bvModal.show("returnModal");
    },
    async deleteBook() {
      await this.$store.dispatch("deleteBook", this.id);
      this.showSuccessToast("Information Deleted");
      this.$bvModal.hide("deleteModal");
    },
    async saveBook() {
      if(this.input.name  == '')
      return this.showErrorToast('Enter Book Name!')
      if(this.input.author == '')
      return this.showErrorToast('Enter Author!')
      if(this.input.copies == '')
      return this.showErrorToast('Enter How Many Copies')
      if(this.input.category_id == '')
      return this.showErrorToast('Choose Category!');

      await this.$store.dispatch("createBook", this.input);
      this.showSuccessToast("Information Added");
      this.clearFields();
      this.$bvModal.hide("addModal");
    },
    async updateBook() {
      if(this.editBook.name  == '')
      return this.showErrorToast('Enter Book Name!')
      if(this.editBook.author  == '')
      return this.showErrorToast('Enter Author!')
      if(this.editBook.copies  == '')
      return this.showErrorToast('Enter How Many Copies!')
      if(this.editBook.category_id  == '')
      return this.showErrorToast('Choose Category!')

      await this.$store.dispatch("updateBook", { id: this.id, book: this.editBook});
      this.$bvModal.hide("editModal");
      this.showSuccessToast('Information Updated')
    },
    async borrowBook() {
      await this.$store.dispatch("borrowedBook", this.book_data);
      this.$bvModal.hide("borrowModal");
      this.showSuccessToast('Book Borrowed')
      this.clearFields()
      await this.$store.dispatch("fetchBooks");
      await this.$store.dispatch("fetchBorrowedBooks");

    },
    async returnBook() {
      await this.$store.dispatch("returnedBook", this.book_data);
      this.$bvModal.hide("returnModal");
      this.showSuccessToast('Book Returned')
      this.clearFields()
      await this.$store.dispatch("fetchBooks");
      await this.$store.dispatch("fetchBorrowedBooks");
    },
    clearFields() {
      this.input.name = "";
      this.input.author = "";
      this.input.copies = "";
      this.input.category = "";

      this.book_data = {
        book_id: "",
        copies: "",
        patron_id: ""
      }

  },
  },
};
</script>

<style>
@import '../../assets/css/style.css'
</style>