<template>
  <div class="main">
  <SideBar isActive="index"/>
  <NavBar/>
  <div class="container pt-4">
    <div class="row mt-5">
      <div class="col-10 col-sm-10 col-lg-6 pb-3">
        <h6 class="text-muted">Borrowed and returned books</h6>
        <canvas id="barChart" width="280" height="200"></canvas>
      </div>
      <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
        <h6 class="text-muted">Popular book genre</h6>
        <canvas id="pieChart" width="280" height="200"></canvas>
      </div>
    </div>
  </div>
</div>

</template>

<script>
import NavBar from "./../navigation/NavBar";
import SideBar from "./../navigation/SideBar";
import Chart from 'chart.js';
export default {
  components: { SideBar, NavBar },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },

  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
   var ctx = document.getElementById('barChart').getContext('2d');
    new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Jan', 'Fed', 'March', 'April', 'May', 'June','July'],
    datasets: [
    {
      label: 'Borrowed Books',
      data: [3, 5, 2, 9, 7, 10, 4],
      backgroundColor: 'rgba(243, 15, 24, .7)',
    },
    {
      label: 'Returned Books',
      data: [6, 2, 1, 11, 1, 3, 5],
      backgroundColor: 'rgba(0, 53, 167, .7)',
    }
  ],
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});
      
       var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [30, 5, 20, 15],
              backgroundColor: [
                "rgb(243, 15, 24, .7)",
                "rgba(0, 255, 255, .7)",
                "rgba(0, 53, 167, .7)",
                "rgba(234, 4, 221, .7)",
              ],
            },
          ],

          labels: ["Math", "Science", "History", "English"],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  },
};
</script>

<style>
@import '../../assets/css/style.css'
</style>