<template>
<div>
 <div class="main">
    <div class="container pt-4">
        <div class="col-11 col-sm-11 col-md-11 col-lg-11">
        <button data-toggle="modal" data-target="#addModal" class="btn btn-outline-secondary btn-sm" @click="$bvModal.show('addModal')">Add Patron</button>  
           <input type="text" name="text" class="search" placeholder="Search">
          <div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Date Registered</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                   <tr v-for="patron in patrons" :key="patron.id">
                   <td>
                    {{
                        patron.first_name +
                        " " +
                        patron.middle_name +
                        " " +
                        patron.last_name
                      }}
                   </td>
                   <td>{{ patron.email }}</td>
                    <td>{{ patron.created_at | regDate }}</td>
                    <td>
                      <a type="button" data-toggle="modal" data-target="#editModal" @click="showEditModal(patron)">
                      <img src="@/assets/img/new.png" class="mr-2" height="25">
                      </a>
                      <a type="button" data-toggle="modal" data-target="#deleteModal" @click="showDeleteModal(patron.id)">
                      <img src="@/assets/img/delete.png" class="mr-2" height="16">
                      </a>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>    
  
   <!-- Add Patron -->
  <b-modal id="addModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Patron</h5>
        </div>
        <div class="modal-body pl-5 pr-5">
          <form ref="addPatronModal">
            <div class="form-group">
              <label for="AddPatronFirstName">First Name</label>
              <input type="email" class="form-control" id="AddPatronFrirstName" placeholder="" v-model="input.first_name"/>
            </div>
            <div class="form-group">
              <label for="AddPatronMiddleName">Middle Name</label>
              <input type="text" class="form-control" id="AddPatronMiddleName" placeholder="" v-model="input.middle_name"/>
            </div>
            <div class="form-group">
              <label for="AddPatronLastName">Last Name</label>
              <input type="text" class="form-control" id="AddPatronLastName" placeholder="" v-model="input.last_name"/>
            </div>
            <div class="form-group">
              <label for="AddPatronEmail">Email address</label>
              <input type="text" class="form-control" id="AddPatronEmail" placeholder="" v-model="input.email"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-primary" v-on:click="savePatron">Add Patron</button>
        </div>
      </div>
    </div>   
  </b-modal>

   <!-- Edit Patron -->  
   <b-modal id="editModal" centered title="Edit Patron">
      <form class="pl-5 pr-5" ref="editPatronModal">
        <div class="form-group">
          <label for="EditPatronFirstName">First Name</label>
          <input type="email" class="form-control" id="EditPatronFirstName" placeholder="" v-model="editPatron.first_name"/>
        </div>
        <div class="form-group">
          <label for="EditPatronMiddleName">Middle Name</label>
          <input type="text" class="form-control" id="EditPatronMiddleName" placeholder="" v-model="editPatron.middle_name"/>
        </div>
        <div class="form-group">
          <label for="EditPatronLastName">Last Name</label>
          <input type="text" class="form-control" id="EditPatronLastName" placeholder="" v-model="editPatron.last_name"/>
        </div>
        <div class="form-group">
          <label for="EditPatronEmail">Email address</label>
          <input type="text" class="form-control" id="EditPatronEmail" placeholder="" v-model="editPatron.email"/>
        </div>
      </form>
      <template #modal-footer>
        <b-button size="sm" variant="primary" v-on:click="updatePatron">
          Update Patron
        </b-button>
      </template>
    </b-modal>

     <!-- Delete Patron -->
  <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete this?</p>
      <template #modal-footer="{ cancel }">
        <b-button variant="info" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" size="sm" v-on:click.prevent="deletePatron()" >Confirm</b-button>
      </template>
    </b-modal>
  </div>


</template>

<script>
import {toast} from '@/assets/js/vue-toast'
import moment from 'moment'
export default {
    mixins: [toast],
  async mounted(){
    document.title = "Patron Management"
    await this.$store.dispatch("fetchPatrons");
  },
  filters: {
    regDate(date) {
      return moment(date).format("LL");
    }
  },
  data() {
    return {
      editPatron: {},
      id: "",
      input: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
    };
  },
  computed: {
    patrons() {
      return this.$store.getters.getPatrons
    }
  },
  methods:{
    showAddModal() {
      this.clearFields();
      this.$bvModal.show("addModal");
    },
    showDeleteModal(i) {
      this.id = i;
      this.$bvModal.show("deleteModal");
    },
    showEditModal(patron) {
      this.id = patron.id;
      this.editPatron = { ...patron };
      this.$bvModal.show("editModal");
    },
    async deletePatron() {
      await this.$store.dispatch("deletePatron", this.id);
      this.showSuccessToast("Information Deleted");
      this.$bvModal.hide("deleteModal");
    },
    async savePatron() {
    
      if (this.input.first_name == "")
        return this.showErrorToast("Enter First Name!");
      if (this.input.last_name == "")
        return this.showErrorToast("Enter Last Name!");
      if (this.editPatron.middle_name == "")
        return this.showErrorToast("Enter Middle Name!");
      if (this.input.email == "")
        return this.showErrorToast("Enter Email!");

      await this.$store.dispatch("createPatron", this.input);
      this.showSuccessToast("Information Added");
      this.clearFields();
      this.$bvModal.hide("addModal");

    },
    async updatePatron() {
      if (this.editPatron.first_name == "")
        return this.showErrorToast("Enter First Name!");
      if (this.editPatron.middle_name == "")
        return this.showErrorToast("Enter Middle Name!");
      if (this.editPatron.last_name == "")
        return this.showErrorToast("Enter Last Name!");
      if (this.editPatron.email == "")
        return this.showErrorToast("Enter Email!");
  
      await this.$store.dispatch("updatePatron", { id: this.id, patron: this.editPatron});
      this.$bvModal.hide("editModal");
      this.showSuccessToast("Information Updated");
    },
    clearFields() {
      this.input.first_name = "";
      this.input.middle_name = "";
      this.input.last_name = "";
      this.input.email = "";
      this.input.date = "";
      this.id = 0;
    
  },
  },

};
</script>

<style>
@import '../../assets/css/style.css';
</style>
