<template>
<div>
  <SideBar isActive="index"/>
  <NavBar/>
 </div>
 </template>
 

 <script>
import SideBar from "./../navigation/SideBar";
import NavBar from "./../navigation/NavBar";

export default {
  mounted(){
    document.title = "Settings"
  },
  components: { SideBar, NavBar },
  data() {
    return {
      msg: 'Hello World!'
    }
  },
  methods:{},
};
</script>

<style>
@import '../../assets/css/style.css'
</style>