body{
	background-image: url(../img/waw.jpg);	
	background-repeat: no-repeat;
	background-size: cover;

}

.wee{
	color: white;
}
.container {
	color: white;
}
.masthead{
	margin-top: 100px;
}
.container1{
	margin-top: 0px;
	height: 100px;
	background-color: white;
	color: black;
	text-align: center;

}
.container2{
	margin-top: 0px;
	height: 100px;
	background-color: white;
	color: black;
}
.attention{
	color: black;
}

