<template>
    <div class="nav">
      <div class="user-container">
        <div class="d-flex align-items-center">
               <p class="ml-6 mt-2 option" href="">Logout</p>
        </div>
      </div>
  </div>
</template>


