<template>
 <div class="sidenav">
  <br>
<img src="./../../assets/img/logo.png" height="33" class="logo">
 <img src="./../../assets/img/System Library txt.png" height="48" class="txt">
    <router-link to="/" class="">
      <div class="element-container">
        <div class="element">
          <img src="./../../assets/img/dashboard.png" height="25" class="ml-4 mt-1 position-absolute">
          <p class="ml-6 mt-1 option" href="">Dashboard</p>
        </div>
      </div>
    </router-link>
    <router-link to="/Patron" class="">
      <div class="element-container">
        <div class="element">
          <img src="./../../assets/img/user.png" height="25" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 option" href="">Patron Management</p>
        </div>
      </div>
    </router-link>
    <router-link to="/Books" class="">
      <div class="element-container">
        <div class="element">
          <img src="./../../assets/img/editprofile.png" height="25" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 option" href="">Books<br>Management</p>
        </div>
      </div>
    </router-link>
    <router-link to="/Settings" class="">
      <div class="element-container">
        <div class="element">
          <img src="./../../assets/img/settings.png" height="25" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 mt-2 option" href="">Settings</p>
        </div>
      </div>
    </router-link>
  </div>
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>